<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel ="shortcut icon" href="img/aa-logo.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/savira-style.css">
    <link rel="stylesheet" type="text/css" href="css/Rifqi-body.css">
    <link rel="stylesheet" type="text/css" href="css/tabs.css">

    <title>Check flight - Keep track of your flight | AirAsia</title>
    </head>
    <body>
      <nav class="navbar navbar-expand-md navbar-light bg-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center navbar-font" id="navbarsExampleDefault">
        <ul class="navbar-nav ">
          <li class="nav-item active mx-4">
            <a class="nav-link" href="https://www.airasia.com/booking/home/id/id"><img src="img/aa-logo.png"></a>
          </li>
          <li class="nav-item active mx-4">
            <a class="nav-link" href="#">Pembelian Saya</a>
          </li>
          <li class="nav-item active mx-4">
            <a class="nav-link" href="#">Check-in</a>
          </li>
          <li class="nav-item active mx-4">
            <a class="nav-link" href="#">Status Penerbangan</a>
          </li>
          <li class="nav-item active mx-4">
            <a class="nav-link" href="#">Pelayanan Pelanggan</a>
          </li>
          <li class="nav-item dropdown active ml-4 mr-1">
            <a style ="border-left: solid 1px lightgrey" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ID</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown active ml-1 mr-4">
            <a style ="border-right: solid 1px lightgrey" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            IDR</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Login/Daftar</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-1"></div>
          <div class="col-md-10 articles" id="site-content">
            <h1 class="title-post">Status Penerbangan</h1>
            <article class="posts">
              <div class="row">
                <div class="col-lg-10">
                  <div class="admintab-wrap mg-b-40">
                    <ul class="nav nav-tabs custom-menu-wrap custon-tab-menu-style1">
                      <li class="active"><a data-toggle="tab" href="#TabProject"><span class="adminpro-icon adminpro-analytics tab-custon-ic"></span>Cari dengan nomor penerbangan</a>
                      </li>
                      <li><a data-toggle="tab" href="#TabDetails"><span class="adminpro-icon adminpro-analytics-arrow tab-custon-ic"></span>Cari dengan rute</a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div id="TabProject" class="tab-pane in active animated flipInX custon-tab-style1">
                          <div _ngcontent-c15>
                            <span _ngcontent-c15 class="tooltiptext">
                              <p _ngcontent-c15 class="p-cls">Enter your airline code and flight number.
                              Example: AK6117, I5774</p>
                            </span>
                          </div>
                        <form class="form-inline">
                          <input class="form-control form-control-lg" style="font-size: 16px; height: 50px; width: 250px;" type="text" placeholder="Nomor penerbangan">
                          <button class="btn btn-danger" style="width: 185px;" type="button" id="search-support">Cari penerbangan</button>
                        </form>
                      </div>
                      <div id="TabDetails" class="tab-pane animated flipInX custon-tab-style1">
                        <form class="form-inline">
                          <select class="select2_demo_3 form-control" style="width: 250px; height: 50px;">
                            <option>Asal</option>
                            <option value="Bahamas">Ahmedabad (AMD)</option>
                            <option value="Bahrain">Alor Setar (AOR)</option>
                            <option value="Bangladesh">Amritsar (ATQ)</option>
                            <option value="Barbados">Auckland (AKL)</option>
                            <option value="Belarus">Bagdogra (IXB)</option>
                            <option value="Belgium">Bali (DPS)</option>
                            <option value="Belize">Banda Aceh (BTJ)</option>
                            <option value="Benin">Bandung (BDO)</option>
                            <option value="Bahamas">Bangkok – Don Mueang (DMK)</option>
                            <option value="Bahrain">Beijing - Capital (PEK)</option>
                            <option value="Bangladesh">Belitung (TJQ)</option>
                            <option value="Barbados">Brunei (BWN)</option>
                            <option value="Belarus">Busan (PUS)</option>
                            <option value="Belgium">Fukuoka (FUK)</option>
                            <option value="Belize">Guangzhou (CAN)</option>
                            <option value="Benin">Hong Kong (HKG)</option>
                            <option value="Bahamas">Jakarta (CGK)</option>
                            <option value="Bahrain">Jeju (CJU)</option>
                            <option value="Bangladesh">Kota Bharu (KBR)</option>
                            <option value="Barbados">Kuala Lumpur (KUL)</option>
                            <option value="Belarus">Labuan (LBU)/option>
                            <option value="Belgium">Lombok (LOP)</option>
                            <option value="Belize">Makassar (UPG)</option>
                            <option value="Benin">Medan - Kualanamu (KNO)</option>
                            <option value="Bahamas">Melbourne - Avalon (AVV)</option>
                            <option value="Bahrain">Nanjing (NKG)</option>
                            <option value="Bangladesh">New Delhi (DEL)</option>
                            <option value="Barbados">Osaka - Kansai (KIX)</option>
                            <option value="Belarus">Padang (PDG)</option>
                            <option value="Belgium">Pattaya (UTP)</option>
                            <option value="Belize">Phuket (HKT)</option>
                            <option value="Benin">Quanzhou (JJN)</option>
                            <option value="Belize">Sapporo - Shin-Chitose (CTS)</option>
                            <option value="Benin">Semarang (SRG)</option>
                            <option value="Bahamas">Seoul - Incheon (ICN)</option>
                            <option value="Bahrain">Singapura (SIN)</option>
                            <option value="Bangladesh">Sydney (SYD)</option>
                            <option value="Barbados">Taipei - Taoyuan (TPE)</option>
                            <option value="Belarus">Tokyo - Narita (NRT)</option>
                            <option value="Belgium">Yogyakarta (JOG)</option>
                          </select>
                          <input class="form-control form-control-lg" type="text" placeholder="Tujuan" style="font-size: 16px; height: 50px; width: 250px;">
                          <button class="btn btn-danger" type="button" id="search-support">Cari penerbangan</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="col-sm-1">
        </div>
      </div>
    </div>

    <div class="garis"  style="margin-top: 250px;">
      <div class="grey"></div>
    </div>

    <footer class="page-footer center-on-small-only" style="background-color: #f2f2f2;">
      <div>
        <div class="container">
          <div class="row py-4 d-flex align-items-center">
            <div class="col-md-1 text-center text-md-left mb-4 mb-md-0">
              <a href="https://www.mavcom.my/en/consumer/make-a-complaint/"><img src="img/right.png" alt=""></a>
            </div>
            <div class="col-md-11 mb-r">
              <p style="font-family: sans-serif; font-size: 12px; margin-bottom: 3px;">
                <span>©2019 AirAsia Group Berhad. Penggunaan situs web AirAsia menunjukkan bahwa Anda setuju dengan</span>
                <a href="https://www.airasia.com/id/id/about-us/terms-and-conditions.page" style="color: red;"><span>Syarat dan Ketentuan</span></a>
                <span>,</span> 
                <a href="https://www.airasia.com/id/id/about-us/terms-of-use.page" style="color: red;"><span>Ketentuan Penggunaan</span></a>
                <span>dan {2}.</span>
                <span>Tarif meliputi pajak bandara dan semua biaya dan ongkos yang dikenakan oleh badan pengatur yang relevan.Situs web ini dimiliki dan dioperasikan oleh AirAsia Berhad (284669-W) ("AirAsia").</span>
                <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=s9cWNe7dMLPamgem0bR7P-5Z8HWycQdPLCeWaCD-LrqQkziVGbu7!1146639696" style="color: red;"><span>粤ICP备17160544号</span></a>
              </p>
              <p style="font-family: sans-serif; font-size: 12px; margin-bottom: 3px;">
                <a href="https://ir.airasia.com/corporate_structure.html" style="color: red;"><span>AirAsia Berhad (Malaysia) | </span></a>
                <a href="http://www.aavplc.com/index.html?menu=aav_organisation_chart&lang=en" style="color: red;"><span>Thai AirAsia Co. Ltd | </span></a>
                <a href="https://www.airasia.com/id/id/about-us/airasia-indonesia-organizational-structure.page" style="color: red;"><span>PT Indonesia AirAsia | </span></a>
                <a href="https://www.airasia.com/id/id/about-us/airasia-philippine-organizational-structure.page" style="color: red;"><span>Philippines AirAsia Inc. | </span></a>
                <a href="http://www.airasiax.com/" style="color: red;"><span>AirAsia X Berhad (Malaysia) | </span></a>
                <a href="https://www.airasia.com/id/id/about-us/thai-airasia-x-organizational-structure.page" style="color: red;"><span>Thai AirAsia X Co.,Ltd  | </span></a>
                <a href="https://www.airasia.com/jp/ja/about-us/airasia-japan-company-profile.page" style="color: red;"><span>AirAsia Japan Co., Ltd. | </span></a>
                <a href="https://www.airasia.com/id/id/about-us/airasia-india-organizational-structure.page" style="color: red;"><span>AirAsia (India) Limited </span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="js/tab.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>