<?php
?>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="shorcut icon" href="img/logo1.png">
     <link rel="stylesheet" href="css/seli_bagasi.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Informasi Bagasi</title>
  </head>
  <body>

    <div  class="container">
      <div class="row">
        <div class="col-md-12"><img src="img/logo1.png"></div>
      </div>
    </div>
    <div class="container-fluid fixed-top">
      <div class="row">
        <div class="col-sm-4">
          <!-- <img src="img/logo1.png" style="margin: -1px 20px 5px 100px;"> --> </div>
        <div class="col-sm-6">
          <nav  id="nav">
            <div class="scrollmenu">
              <a href="#home" style="font-family: sans-serif; font-size: 16px; color: black; margin-left: 25px; margin-bottom: 25px; margin-right: 10px;">Check-in</a>
              <a href="#news" style="font-family: sans-serif; font-size: 16px; color: black; margin-left: 20px; margin-bottom: 25px; margin-right: 10px;">Pembelian saya</a>
              <a href="#contact" style="font-family: sans-serif; font-size: 16px; color: black; margin-left: 20px; margin-bottom: 25px; margin-right: 10px;">Pelayanan Pelanggan</a>
              <a href="#about" style="font-family: sans-serif; font-size: 16px; color: black; margin-left: 20px; margin-bottom: 25px; margin-right: 10px;">Akun saya</a>
            </div>
           
          </nav>
        </div>
        <div class="col"></div>
      </div>
    </div>

    <div class="container">
    <div class="row">
      <div class="col-sm-12">
         
          <br>
          <br>
          <p style="font-family: sans-serif; font-size: 13px; color: black;"><a href="#" style="font-family: sans-serif; font-size: 13px; color: black;" >Home</a> > Bagasi</p>
          <h1 style="font-family: 'Arial',sans-serif; font-size: 28px; color: black; font-weight: bold">Bagasi</h1>
          <h2 style="font-family: 'Arial',sans-serif; font-size: 18px; color: black;">Bagasi kabin</h2><br>
          <img src="img/airasia.jpg">
          <br>
          <br>
          <p style="font-family: 'Arial',sans-serif; font-size: 14px;">Semua penumpang (kecuali bayi) diperbolehkan membawa 2 bagasi kabin ke dalam pesawat yang terdiri dari:</p>
          <br>
          <p style="font-family: 'Arial',sans-serif; font-size: 14px;">1 (satu) Bagasi Kabin:</p>
          <ul>
            <li>
              
              TIDAK BOLEH melebihi ukuran 56cm (T) X 36cm (L) X 23cm (P).
              
            </li>
            <li>HARUS MUAT dalam ruang penyimpanan di atas kepala di kabin pesawat.</li>
          </ul><br>
          <p style="font-family: 'Arial',sans-serif; font-size: 14px;">1 (satu) tas Laptop atau 1 (satu) tas tangan atau 1 (satu) tas kecil:</p>
          <ul>
            <li>TIDAK BOLEH melebihi ukuran 40cm (T) X 30cm (L) X 10cm (P).</li>
            <li>HARUS MUAT di bawah kursi di depan anda.</li>
          </ul>
          <p style="font-family: 'Arial',sans-serif; font-size: 14px; font-style: italic;">Berat gabungan kedua barang tidak boleh melebihi 7kg.</p>
          <br>
          <p style="font-family: 'Arial',sans-serif; font-size: 18px; font-weight: bold">Bagasi terdaftar</p>
          <p style="font-family: 'Arial',sans-serif; font-size: 14px;">Jika Anda ingin membawa lebih banyak, kami memiliki pilihan jatah bagasi terdaftar untuk pra-pesan Anda.<a href="#" style="font-family: 'Arial',sans-serif; font-size: 14px; color:red"> Biaya Bagasi terdaftar</a> Berlaku</p>
          <div class="container-table">
            <div class="row">
           
              <div class="col-sm-4 text-center">
                15kg
                <p style="font-family: 'Arial',sans-serif; font-size: 14px; text-align: center;">(Tersedia Untuk Penerbangan domestik saja)</p>
                
              </div>
              <div class="col text-center" style="margin: 10px 10px 10px 10px;">
                20kg
              </div>
              <div class="col text-center" style="margin: 10px 10px 10px 10px;">
                25kg
              </div>
              <div class="col text-center"style="margin: 10px 10px 10px 10px;">
                30kg
              </div>
              <div class="col text-center"style="margin: 10px 10px 10px 10px;">
                40kg
              </div>
            </div>
          
          </div>
          <br>
          <p style="font-family: 'Arial',sans-serif; font-size: 14px;">Jika Anda terbang ke atau dari Amerika Serikat, jatah bagasi tersedia untuk pra-pesan dengan jumlah barang:</p>
          <ul>
           <li style="font-family: 'Arial',sans-serif; font-size: 14px;">1 bagasi, berat maksimal 20kg</li>
           <li style="font-family: 'Arial',sans-serif; font-size: 14px;">2 bagasi, berat maksimal 20kg setiap barang</li>
         </ul>
         <p style="font-family: 'Arial',sans-serif; font-size: 14px;">Jika Anda telah membeli<a href="#" style="font-family: 'Arial',sans-serif; font-size: 14px; color:red"> Paket hemat</a> atau tebang dengan <a href="#"style="font-family: 'Arial',sans-serif; font-size: 14px; color:red"> Premium Flatbed,</a> jatah bagasi terdaftar sudah termasuk dalam tarif.</p>
         
         <p style="font-family: 'Arial',sans-serif; font-size: 14px;">Biaya bagasi terdaftar adalah paling murah di awal pembelian penerbangan. Anda dapat membuat pra-pesan nanti melalui akun Anggota BIG Anda atau pada saat melakukan check-in web dengan harga normal. Biaya bagasi di bandara adalah yang paling mahal, jadi<a href="#" style="font-family: 'Arial',sans-serif; font-size: 14px; color:red"> buat pra-pesan untuk bagasi anda</a> terlebih dahulu.</p>
         <br>
        <div class="container">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"> <button type="button" class="btn btn-secondary btn-lg btn-dark" id="#btn" style="font-family: 'Arial',sans-serif; font-size: 14px;">Pra-pesan bagasi sekarang</button></div>
            <div class="col-sm-4"></div>
          </div>
        </div><br>
        
          <div class="scrollmenu" > Selengkapnya tentang
              <a href="#home" style="font-family: sans-serif; font-size: 14px; color: red;">bagasi</a> |
              <a href="#news" style="font-family: sans-serif; font-size: 14px; color: red;"> bagasi terdaftar</a> |
              <a href="#contact" style="font-family: sans-serif; font-size: 14px; color: red;"> bagasi kabin</a> |
              <a href="#about" style="font-family: sans-serif; font-size: 14px; color:red; "> bagasi terlarang</a> |
              <a href="#about" style="font-family: sans-serif; font-size: 14px; color:red; "> bagasi salah penanganan </a> |
              <a href="#about" style="font-family: sans-serif; font-size: 14px; color:red; "> Perlengkapan olahraga</a>
            </div>
                  
</div>
</div>
</div>
    <br>
    <br>
    

    <footer class="page-footer center-on-small-only" style="background-color: #f2f2f2;">
      <div>
        <div class="container">
          <div class="row py-4 d-flex align-items-center">
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <h6 class="mb-0 white-text" style="font-family: sans-serif;"><strong>AirAsia Mobile App</strong></h6>
              <img src="img/AppStore.jpg" height="48">
              <img src="img/gplay.png" height="70">
            </div>
            <div class="col-md-4 mb-r">
              <h6 class="mb-0 white-text" style="font-family: sans-serif; height: 40px;"><strong>Berhubunglah dengan Kami</strong></h6>
              <img src="img/fb.png" height="45">
              <img src="img/twt.png" height="37">
              <img src="img/ig.png" height="46">
              <img src="img/yt.png" height="46">
              <img src="img/in.png" height="37" style="margin-right: 0px;">
              <img src="img/pn.png" height="37" style="margin-left: 0px;">
            </div>
            <div class="col-md-3 mb-r">
              <h6 class="mb-0 white-text" style="font-family: sans-serif;"><strong>Penghargaan Kami</strong></h6>
              <img src="img/award1.png" height="45" style="height: 70px;">
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

          <div class="col-md-3 col-lg-4 col-xl-3 mb-r">
            <h6 class="title font-bold" style="font-family: sans-serif;"><strong>Informasi Perjalanan</strong></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; font-family: sans-serif;">
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Bandara dan terminal</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Bagasi</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Informasi Check-in</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Transfer</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Layanan Pelanggan dan Rencana Darurat</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Tarif Kami</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Biaya dan Ongkos</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Flight Status</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Hot Meals</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Hiburan</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Saluran Pembayaran</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Pilihan Tempat Duduk</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Faktur Pajak</a></p>
          </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mb-r">
            <h6 class="title font-bold" style="font-family: sans-serif;"><strong>Produk dan Layanan Kami</strong></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; font-family: sans-serif;">
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Asean Pass AirAsia</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Red Lounge Premium AirAsia</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">AirAsia RedTix</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Penerbangan hemat</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Bebas pajak dan barang dagang</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Red Carpet</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">ROKKI Wi-Fi</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Premium Up            <p><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">OURSHOP</a></p>
</a></p>
          </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mb-r">
            <h6 class="title font-bold" style="font-family: sans-serif;"><strong>Produk Mitra Bisnis</strong></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; font-family: sans-serif;">
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">AirAsia Activities</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Persewaan mobil AirAsia</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">AirAsia Go</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">BIG Loyalty</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">BigPay</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">travel360.com</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">AirAsia Travel Protection</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Hot Boarding Pass</a></p>
          </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mb-r">
            <h6 class="title font-bold" style="font-family: sans-serif;"><strong>Tentang Kami</strong></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; font-family: sans-serif;">
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Ruang iklan</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">AirAsia Foundation</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Peluang Berkarir</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Bagian relasi investor</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Berita pers</a></p>
            <p style="margin-bottom: 7px;"><a href="#!" style="font-family: sans-serif; font-size: 13px; color: black;">Kantor penjualan</a></p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row py-4 d-flex align-items-center">
          <div class="col-md-2 text-center text-md-left mb-4 mb-md-0">
            <img src="img/right.png" height="93">
          </div>
          <div class="col-md-10 mb-r">
            <p style="font-family: sans-serif; font-size: 12px;"> ©2019 AirAsia Group Berhad. Penggunaan situs web AirAsia menunjukkan bahwa Anda setuju dengan Syarat dan Ketentuan, Ketentuan Penggunaan dan Kebijakan Privasi.Tarif meliputi pajak bandara dan semua biaya dan ongkos yang dikenakan oleh badan pengatur yang relevan.Situs web ini dimiliki dan dioperasikan oleh AirAsia Berhad (284669-W) ("AirAsia"). 粤ICP备17160544号</p>
            <p style="font-family: sans-serif; font-size: 12px;">
              AirAsia Berhad (Malaysia) | Thai AirAsia Co. Ltd | PT Indonesia AirAsia | Philippines AirAsia Inc. | AirAsia X Berhad (Malaysia) | Thai AirAsia X Co.,Ltd  | AirAsia Japan Co., Ltd. | AirAsia (India) Limited
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>