<?php require "db_support_seli.php";?>

<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shorcut icon" href="img/logo1.png">
  <link rel="stylesheet" href="css/seli_support.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Home | Customer Support</title>
</head>
<body>

<div class="container-atas">
   <div class="nav-item dropdown active ml-4 mr-1">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="font-family: 'Roboto',sans-serif; font-size: 14px; color: black;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bahasa Indonesia
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
</div>
  </div>
   <!--  <div class="container-nav">
     
      <div class="row mt-3 justify-content-center"> -->
        <!-- <img src="img/logo1.png" height="45">
        <div class="col-md-8" class="search">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Masukan Topik, contohya:Bandara,Bagasi,Topik" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-danger" type="button" id="search-support">Cari</button>
            </div>
          </div>



          
        </div>
        
      </div>
      
    </div> -->

<div class="container-bawah">
     <nav class="navbar navbar-expand-md ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-link" href="#"><img src="img/home.png" height="20"></a>
      </li>
      <li class="nav-item dropdown active ml-4 mr-1">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Roboto',sans-serif; font-size: 14px; color:white;" m>
          Topik
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-family: 'Roboto',sans-serif; font-size: 14px; color: black; background-color: #A0A0A0">
          
           <a class="dropdown-item" href="#pemesanan">Pemesanan Penerbangan</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">Bagasi</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">Check in</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">Pengembalian dana</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">Produk dan layanan</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">Tamu dengan kebutuhan khusus</a>
          
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="font-family: 'Roboto',sans-serif; font-size: 14px; color:white;">Laporan saya</a>
      </li>
    </ul>
    
  </div>
</nav>


</div>  

<br>
<br>


<div class="container">
      <h1 class="bantuan">Bantuan Pelanggan</h1>
      <h5 class="text-center">Apakah anda memiliki pertanyaan? izinkan kami membantu anda</h5>
    </div>
  </div>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="informasi">Informasi perjalanan</h1>
          <ul class="Airasia">
            <li style="font-family: 'Roboto',sans-serif; font-size: 14px;">AirAsia secara permanen menarik penjualan penerbangan dari agen perjalanan online, Traveloka di semua rute di jaringannya.<a href="#" >Dapatkan informasi lebih lanjut di sini</a></li>
            <li style="font-family: 'Roboto',sans-serif; font-size: 14px;">Pemerintah Malaysia dengan tegas melarang masuknya produk-produk berbahan dasar daging babi dan babi ke Malaysia.<a href="#">Dapatkan informasi lebih lanjut disini.</a></li>
            <li style="font-family: 'Roboto',sans-serif; font-size: 14px;">AirAsia memindahkan operasi penerbangan di Bandara Internasional Chhatrapati Shivaji Mumbai dari Terminal 1B ke Terminal 2 mulai 15 April 2019</li>
          </ul>
          <br>
          <br>

        <div class="container">
          <div class="row">
            <div class="col-sm-4">
                <div class="container-kotak">
                  <a href="#"></a>
                  <img src="img/order.png" height="100">
                  <p class="text-center" style="font-family: 'Roboto',sans-serif; font-size: 16px; color : black; font-weight: 700px">Pemesanan Penerbangan</p>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="container-kotak">
                    <a href="#"></a>
                    <img src="img/baggage.png" height="100">
                    <p class="text-center" style="font-family: 'Roboto',sans-serif; font-size: 16px; color : black; font-weight: 700px">Bagasi</p>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="container-kotak">
                  <a href="#"></a>
                  <img src="img/credit-card.png" height="100">
                  
                  <p class="text-center" style="font-family: 'Roboto',sans-serif; font-size: 16px; color : black; font-weight: 700px">Pengembalian Dana</p>
                </div>

            </div>
          </div>
        </div>

        <br>
        <br>

         <div class="container">
          <div class="row">
            <div class="col-sm-4">
                <div class="container-kotak">
                  <a href="#"></a>
                  <img src="img/contacts.png" height="100">
                  <p class="text-center" style="font-family: 'Roboto',sans-serif; font-size: 16px; color : black; font-weight: 700px">Check in</p>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="container-kotak">
                  <a href="#"></a>
                    <img src="img/disabled.png" height="100">
                    <p class="text-center" style="font-family: 'Roboto',sans-serif; font-size: 16px; color : black; font-weight: 700px">Tamu dengan kebutuhan Khusus</p>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="container-kotak">
                  <a href="#"></a>
                  <img src="img/customer-service.png" height="100">
                  <p class="text-center" style="font-family: 'Roboto',sans-serif; font-size: 16px; color : black; font-weight: 700px">Produk dan layanan</p>
                </div>

            </div>
          </div>
        </div>


      
    </div>
    <div class="col-md-4">
      <h1 class="channel">channel yang dapat dihubungi</h1>
              <p class="AVA"><img src="img/cewe.png" width="20px" height="20px">Berbicara dengan AVA sekarang</p> 
              <p><img src="img/twe.png" width="20px" height="20px">Hubungi kami 24/7 lewat Twitter</p>
              <p><img src="img/facebook1.png" width="20px" height="20px">Hubungi kami 24/7 lewat Facebook</p>
              <p><img src="img/email.png" width="20px"  height="20px">Email kami</p>
              <p><img src="img/call.png" width="20px" height="20px">call center</p>

              <h4>Popular Articles</h4>
              <p><a href="" style="font-family: 'Roboto',sans-serif; font-size: 14px; color: black;">Bagaimana mengubah pemesanan saya</a></p>  
              <p><a href="#!" style="font-family: 'Roboto',sans-serif; font-size: 14px; color: black;">Dapatkah saya menambah berat bgasi?</a></p>
              <p><a href="#!" style="font-family: 'Roboto',sans-serif; font-size: 14px; color: black;">Bagaimana saya menyerahkan pengembalian dana saya</a></p>
              <p><a href="#!" style="font-family: 'Roboto',sans-serif; font-size: 14px; color: black;">Apabila setelah pembelian saya tidak dapat mengikuti penerbangan, apakah uang saya dapat dikembalikan? (pengembalian uang)</a></p>
              <p><a href="#!" style="font-family: 'Roboto',sans-serif; font-size: 14px; color: black;">Apa yang dimaksud dengan Self Check-In? (Web, Mobile, Kiosk)</a></p> 
    </div>
  </div>
  </div><br><br>
 
       
<footer class="page-footer center-on-small-only" style="background-color: #f2f2f2;">
      <div>
        <div class="container">
          <div class="row py-4 d-flex align-items-center">
          <div class="col-md-4 text-center text-md-left mb-4 mb-md-0">
            <p style="font-family: sans-serif; font-size: 12px;">AirAsia.com    |    Syarat dan ketentuan</p>
          </div>
          <div class="col-md-7 mb-r">
            <p style="font-family: sans-serif; font-size: 12px; margin-bottom: 3px;"> Penggunaan situs web AirAsia menyatakan persetujuan Anda terhadap [Syarat Penggunaan dan Kebijakan Privasi] kami  Syarat penggunaan  dan  Kebijakan Privasi</p>
            <p style="font-family: sans-serif; font-size: 12px; margin-bottom: 3px;">
              ©2019 AirAsia Berhad.
            </p>
            <p style="font-family: sans-serif; font-size: 12px; margin-bottom: 3px;">
              Website ini dimiliki dan dioperasikan oleh AirAsia Berhad ("AirAsia")
            </p>
          </div>
        </div>
        </div>
      </div>
    </footer>




          <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </body>
        </html>